.point {
	position: relative;
	min-height: 40px;
}

$font-size: 50px;
.example {
  font-size: $font-size;
}

.icons {
	height: 15px;
	width: 15px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	top: 5px;
}

.icon-bar {
	padding: 5px;
	align-items: flex-end;
	flex: 1;
	text-align: end;
}

.readonly-paragraph {
	padding: 5px, 20px, 5px, 5px;
}